* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font Website
font-family: 'Comfortaa', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Gafata', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/* Style */

body{
    display: grid;
    grid-auto-columns: auto;
    background-color: #262626;
}

/* Navbar CSS Start, ref to Dev Ed YouTube */

nav {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100px;
    font-family: 'Gafata', sans-serif;
}

.nav-logo {
    display: flex;
    color: white;
    font-size: 1.8em;
    list-style: none;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.nav-links li a {
    font-size: 1.8em;
    font-weight: bolder;
    color: white;
    text-decoration: none;
}

/* Navbar CSS End */
/* Container CSS Start */

.container {
    display: flex;
    margin-top: 100px;
    color: white;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
}

.container h2 {
    text-align: center;
}

.container p {
    font-size: 24px;
}

/* Container Profile CSS Start */

.container-profil {
    text-align: center;
    font-size: 36px;
}

.container-profil img {
    border-radius: 50%;
    border: whitesmoke solid 5px;
    width: 250px;
    height: 250px;
}

@media screen and (max-width : 768px) {

    .container p {
        font-size: 20px;
    }

    .container-profil img {
        border-radius: 50%;
        border: whitesmoke solid 5px;
        width: 200px;
        height: 200px;
    }

    /* NAVBAR SETTINGS START */

    .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
        transition: all .5s ease-in-out;
    }

    .line::before,
    .line::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
        transition: all .5s ease-in-out;
    }

    .line::before {
        transform: translate(-5px, -15px);
    }

    .line::after {
        transform: translate(-5px, 5px);
    }

    .line.open {
        background: transparent;
        box-shadow: none;
    }

    .line.open::before {
        background: #262626;
        transform: rotate(45deg);
    }

    .line.open::after {
        background: #262626;
        transform: rotate(-45deg);
    }


    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }

    .nav-logo {
        font-size: 1.2em;
    }

    .nav-links {
        position: fixed;
        background: rgb(255, 187, 61);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -100%);
        transition: all 1s ease-out;
        pointer-events: none;
    }

    .nav-links.open {
        clip-path: circle(1200px at 90% -10%);
        -webkit-clip-path: circle(1200px at 90% -10%);
        pointer-events: all;
    }

    /* NAVBAR SETTINGS END */

    .container {
        flex-direction: column;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li a {
        color: #262626;
        font-size: 1.8em;
        font-weight: bolder;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }
    
    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.8s;
    }

    li.fade {
        opacity: 1;
    }
}